<div style="text-align: center">
    <img class="" src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_1517341864/crownpeak-dxm.png" height="120px"/> 
</div>
<div class="news-inner" *ngFor="let news of newsArray; let i = index">
  <div class="bgimg-1">
      <div class="caption">
      <span class="border">{{ news.main_title }}</span>
      </div>
    </div>
    <br />
    <div style="color: #777;background-color:transparent;text-align:center;padding:50px 80px;text-align: justify;">
      <h3 style="text-align:center;">{{ news.main_heading }}</h3>
      <div [innerHTML]="htmlContent"></div>
    </div>
    <div class="bgimg-2">
      <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">{{ news.top_label }}</span>
      </div>
    </div>

    <div style="position:relative;">
      <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <div [innerHTML]="htmlSubContent"></div>
      </div>
    </div>
    

    <div class="bgimg-3">
      <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">{{ news.lower_label }}</span>
      </div>
    </div>
  </div>
<script>
alert("Passing Variable: " + this.htmlStr)
</script>
  <!--
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    </div>
  </div>
-->
  <!--
  <div class="bgimg-1">
    <div class="caption">
    <span class="border">COOL!</span>
    </div>
  </div>
-->